manifest {
  name = 'BUSCO2Tree'
  version = '1.0.0'
}

params {
  STEPS       = '1,2,3'
  buscodir    = null
  outdir      = 'B2T_output_nf'

  lineage     = 'eukaryota'
  odb         = 10
  threads     = 8
  seqtype     = 'AA'

  mafft_cmd   = null
  config      = null
  trim        = false
  trimparams  = null
  format      = 'phylip'

  bootstrap   = 1000
  prefix      = 'iqtree'
  genetrees   = false
  concordance = false
  
  container   = 'busco2tree:latest'
}

process {
  cpus = { params.threads as int }
  errorStrategy = 'terminate'
}

profiles {
  docker {
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
  }
}
